# === Node.js ===
node_modules/
npm-debug.log*
.DS_Store

# === Archivos locales ===
.env
.env.local
configs.json
history.json
db_data.json

# === VSCode y configuraciones ===
.vscode/
.vscode-root/

# === Build/Distribución ===
dist/
build/
